.pNadaDeNovo{
    text-align: center; 
    justify-content: center;
}
ul{
    list-style: none;
}
.TopoFeed{
    display: flex;
    font-size: 28px; 
    margin-top: 30px;
}
.TopoFeed img{
    height: 54px;
    width: 54px;
    margin-right: 20px;
    margin-left: 20px;
}
.pConteudo{
    padding: 14px 0 28px 38px;
    max-width: 400px;
    max-height: 400px;
}
.divLi{
    border-bottom: 2px solid gray;
    margin: 0 28px 0 28px;
}
