.divPrincipal{
    background-color: rgb(196, 196, 196);
    width: 100vw;
    height: 120vh;
    margin-bottom: 100px
}

.divInfoPerfil{
    background-color: rgb(255, 255, 255);
    width: 56vw;
    height: 85vh;
    position: absolute;
    top: 12%;
    left: 2%;
    border-radius: 10px
}
.divAgora{
    background-color: rgb(255, 255, 255);
    width: 28vw;
    height: 85vh;
    position: absolute;
    top: 12%;
    right: 4%;
    border-radius: 10px
}

body{
    overflow: hidden;
}
h1{
    padding: 28px;
    font-weight: 900;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/* saiu o boxshadow do header */
/* arrumar position da lupa */