body{
    overflow-y: scroll;
    overflow-x: hidden;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: auto;
    min-height: 100%;
}
.divPrincipal{
    background-color: rgb(155, 154, 154);
    display: flex;
    justify-content: space-between;
    padding: 24px;
}


.divInfoPerfil-Claro{
    background-color: var(--Tema-color2);
    width: 55%;
    min-height: 85vh;
    border-radius: 10px;
    color: black;
}
.divInfoPerfil-Escuro{
    background-color: var(--Tema-color1);
    width: 55%;
    min-height: 85vh;
    border-radius: 10px;
    color: white;
}

.divAgora-Claro{
    background-color: var(--Tema-color2);
    width: 40%;
    min-height: 85vh;
    border-radius: 10px;
    color: black;
}
.divAgora-Escuro{
    background-color: var(--Tema-color1);
    width: 40%;
    min-height: 85vh;
    border-radius: 10px;
    color: white;
}
.divAgora-Escuro h1, .divAgora-Claro h1{
    padding: 38px 0 0 38px;
    font-weight: 900;
}
.IconPerfil{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    border-radius: 100px;
}
.estatisticaPerfil{
    display: flex;
    flex-direction: row;
    gap: 28px;
    text-align: center;
}
.estatisticaPerfil p{
    font-weight: 900;
    font-size: 20px;
}
.borderDiv{
    border-right: 1px solid gray;
    padding-right: 18px;
    height: 42px;
}
.infoPrincipalPerfil{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 140px;
    margin-top: 28px;
    margin-right: 80px;
}
.infoUsuario{
    display: flex;
    flex-direction: column;
    margin-top: 42px;
}
.fotoPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nomePerfil{
    display: flex;
    flex-direction: column;
    margin-top: 48px
}
.nomePerfil p{
    color: gray;
    font-weight: 300;
    font-size: 20px
}
.tituloSobre{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
    padding: 0 48px 0 48px;
}
.Sobre{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 18px;
    max-height: 200px;
    max-width: 100%;
    padding: 0 48px 0 48px;
    word-break: break-all;
    font-size: 18px;
}
.tituloScript{
    padding: 0 48px 0 48px;
    margin-top: 68px;
    
}

.Scripts{
    display: flex;
    padding: 0 48px 0 48px;
    margin-top: 18px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.Scripts div{ 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 100%;
    width: 100%;
    padding: 10px;
    margin: 0 0 18px 0;
    border-left: 3px solid red;
    overflow: hidden;
    
}
.IconScript1-Claro{
    margin: 0 5px 0 0;
    color: black;
}
.IconScript2-Claro{
    margin: 0  0 0 10px;
    color: black;
}
.IconScript1-Escuro{
    margin: 0 10px 0 0;
    color: white;
}
.IconScript2-Escuro{
    margin: 0 0 0 10px;
    color: white;
}

.BtnInfoPerfil{
    display: flex;
    justify-content: space-between;
    padding-top: 42px;

}
.BtnInfoPerfil button{
    border: none;
    cursor: pointer;
    min-height: 32px;
    min-width: 32px;
    border-radius: 10px;
}
.BtnInfoPerfil1{
    background-color: red;
    color: white;
}
.BtnInfoPerfil2{
    background-color: yellow;
    color: black;
}
.BtnInfoPerfil3{
    background-color: green;
    color: white;
}
.iconCriar{
  background: rgba(128, 128, 128, 0.707);
  height: 32px;
  width: 32px;
  padding: 4px;
  border-radius: 16px;
}

@media(max-width:770px){
  .divPrincipal{
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    width: 100%;
  }
  .divInfoPerfil{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .infoPrincipalPerfil{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  } 
  .Sobre{
    margin-bottom: 100px;
    max-width: 100%;
    max-height: 50%;
  }
  .Scripts{
    flex-direction: column;
    width: 100%;
  }
  .Scripts div{
    max-width: 100%;
    width: 100%;
  }
}
@media(max-width:1100px){
  .divPrincipal{
    width: 176%;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
  }
  .divInfoPerfil{
    display: flex;
    flex-wrap: wrap;
  }
   .divAgora-Escuro{
    max-width: 55%;
    width: 55%;
  }
  .divAgora-Claro{
    max-width: 55%;
    width: 55%;
  }
  .infoPrincipalPerfil{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  } 
  .tituloScript{
    margin-top: 60px;
  }
  .Scripts div{
    max-width: 100%;
    width: 100%;
  }
}


.Tema-Escuro{
    background-color: var(--Tema-color1);
    color: white;
    min-height: 110vh;
}
.Tema-Claro{
    background-color: var(--Tema-color2);
    min-height: 110vh;  
    color: black; 
}