.Tema-Escuro{
    background-color: var(--Tema-color1);
    color: white;
    height: 100vh;

}
.Tema-Claro{
    background-color: var(--Tema-color2);   
    height: 100vh;
}
.BtnTema{
    border: none;
    cursor: pointer;
}
