.Titulo {
  padding: 10px 20px 10px 20px;
  font-size: 32px;
  margin-left: 50px;
}
.Header-Claro {
    display: flex ; 
    flex-direction: row; 
    align-items: center;
     justify-content: space-between;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
      width: 100%; 
      position: relative; 
      z-index: 2;
      background-color: var(--Tema-color2);
      color: black;
}
.Header-Escuro {
    display: flex ; 
    flex-direction: row; 
    align-items: center;
     justify-content: space-between;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
      width: 100%; 
      position: relative; 
      z-index: 2;
      background-color: var(--Tema-color1);
      color: white;
}
.tituloDiv {
  display: flex;
  align-items: center;
  width: 100%;
}

.Pesquisa-Claro {
  width: 100%;
  height: 45px;
  min-width: 400px;
  border-bottom: none;
  border-top: none;
  border-left: 2px solid rgba(128, 128, 128, 0.707);
  border-right: 2px solid rgba(128, 128, 128, 0.707);
  outline: none;
  font-size: 16px;
  padding-left: 32px;
  background-color: var(--Tema-color2);
  color: black;
}
.Pesquisa-Escuro{
  width: 100%;
  height: 45px;
  min-width: 400px;
  border-bottom: none;
  border-top: none;
  border-left: 2px solid white;
  border-right: 2px solid white;
  outline: none;
  font-size: 16px;
  padding-left: 32px;
  background-color: var(--Tema-color1);
  color: white;
}
.Pesquisa-Escuro:focus {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.Pesquisa-Claro:focus{
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.Pesquisa-Claro::placeholder{
  color: black
} 
.Pesquisa-Escuro::placeholder{
  color: white;
} 
.botoesHeader{
  margin-right: 5%;
  margin-left: 1%;  
  display: flex;
  gap: 20px;
  align-items: center;
}
.BtnUserCadastro-Escuro {
  transition: all 0.5s ease;
}
.BtnUserCadastro-Claro {
  transition: all 0.5s ease;
}
.BotoesLinkCor{
  transition: all 0.5s ease;
}
.iconLogin-Claro {
  background: var(--Tema-color1);
  color: rgb(194, 194, 194);
  height: 42px;
  width: 42px;
  padding: 4px;
  border-radius: 16px;
}
.iconLogin-Escuro{
  background: var(--Tema-color1);
  color: white;
  height: 42px;
  width: 42px;
  padding: 4px;
  border-radius: 16px;
}
.iconUserCadastro-Claro{
  background: blue;
  height: 32px;
  width: 32px;
  padding: 4px;
  border-radius: 16px;
}
.iconUserCadastro-Escuro{
  background: blue;
  height: 32px;
  width: 32px;
  padding: 4px;
  border-radius: 16px;
}
.IconMensagens-Claro {
  background: var(--Tema-color1);
  color: rgb(194, 194, 194);
  height: 42px;
  width: 42px;
  padding: 4px;
  border-radius: 16px;
}
.IconMensagens-Escuro{
  background: var(--Tema-color1);
  color: white;
  height: 42px;
  width: 42px;
  padding: 4px;
  border-radius: 16px;
}
.iconConfiguracoes-Claro {
  background: var(--Tema-color1);
  color: rgb(194, 194, 194);
  height: 42px;
  width: 42px;
  padding: 4px;
  border-radius: 16px;
}
.iconConfiguracoes-Escuro {
  background: var(--Tema-color1);
  color: white;
  height: 42px;
  width: 42px;
  padding: 4px;
  border-radius: 16px;
}
.btnLink-Claro, .BtnUserCadastro-Claro{
  padding: 2px 10px 2px 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 12px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: black;
}
.btnLink-Escuro, .BtnUserCadastro-Escuro {
  padding: 2px 10px 2px 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 12px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: white;
}
.btnLink-Claro:hover {
  background-color: rgba(99, 99, 99, 0.722);
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.btnLink-Escuro:hover {
  background-color: rgba(99, 99, 99, 0.722);
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.BtnUserCadastro-Claro:hover {
  background-color: rgba(0, 0, 255, 0.662);
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.BtnUserCadastro-Escuro:hover {
  background-color: rgba(0, 0, 255, 0.662);
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.IconPesquisa-Claro {
  color: var(--Tema-color1);
  position: absolute;
  left: 8px;
  top: 8px;
}
.IconPesquisa-Escuro {
  color: var(--Tema-color2);
  position: absolute;
  left: 8px;
  top: 8px;
}
fieldset{
  position: relative;
  border: none;
  width: 100%;
}

@media(max-width: 400px){
  .Pesquisa-Claro{
   width: 80%;
    min-width: 90%;
  }
  .Pesquisa-Escuro{
    width: 80%;
    min-width: 90%;
    margin-left: 30px;
  }
  .tituloDiv{
    width: 80%;
    min-width: 90%;
  }
  .IconPesquisa-Claro{
    position: absolute;
    left: 11%;
  }
  .IconPesquisa-Escuro{
    position: absolute;
    left: 11%;
  }
  .botoesHeader{
    gap: 32px;
  }
  .btnLink-Claro{
    max-width: 50px;
    max-height: 50px;
    height: 50px;
    width: 50px;
  }
  .btnLink-Escuro{
    max-width: 50px;
    max-height: 50px;
    height: 50px;
    width: 50px;
  }
  .BtnUserCadastro-Claro{
    height: 50px;
    width: 50px;
  }
  .BtnUserCadastro-Escuro{
    height: 50px;
    width: 50px;
  }
}

@media(max-width: 600px) {
  .Header-Escuro, .Header-Claro{
    flex-direction: column;
  }
  .botoesHeader {
    margin: 2px;
  }
  .tituloDiv{
  justify-content: center;
  flex-wrap: wrap;
  }
  .Pesquisa-Claro{
    width: 10%;
  }
  .Pesquisa-Escuro{
    width: 10%;
  }
}

@media (max-width: 730px) {
  .Header-Escuro, .Header-Claro{
    flex-direction: column;
  }
  
  .botoesHeader {
    margin: 1px;
  }
  .tituloDiv{
   justify-content: center;
  }

}
@media (max-width: 900px) {
  .Header-Escuro, .Header-Claro{
    flex-direction: column;
  }
  
  .botoesHeader {
    margin: 1px;
  }
  .tituloDiv{
    justify-content: center;
  }
}
@media (max-width: 1100px) {
  .Header-Escuro, .Header-Claro{
    flex-direction: column;
  }
  
  .botoesHeader {
    display: flex;
    margin: 1px;
  }
  .tituloDiv{
   justify-content: center;
   width: 10%;
  }
  .Pesquisa-Escuro{
   width: 10%
  }
  .Pesquisa-Claro{
    width: 10%;
  }

}
